webservice/src/main/resources/wsdl/LibraryService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="dd7b026a-d6a2-4089-adb2-596ab0598c73"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ws="dd7b026a-d6a2-4089-adb2-596ab0598c73"
                  name="WebService">

    <wsdl:types>
        <xs:schema targetNamespace="dd7b026a-d6a2-4089-adb2-596ab0598c73">

            <!-- [USER] -->
            <xs:element name="user">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int" minOccurs="0"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="birthday" type="xs:date" minOccurs="0"/>
                        <xs:element name="postalAddress" type="xs:string" minOccurs="0"/>
                        <xs:element name="tel" type="xs:string" minOccurs="0"/>
                        <xs:element name="level" type="xs:int" minOccurs="0"/>
                        <xs:element name="alertSender" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [BOOK] -->
            <xs:element name="book">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="isbn" type="xs:string"/>
                        <xs:element name="title" type="xs:string" minOccurs="0"/>
                        <xs:element name="author" type="xs:string" minOccurs="0"/>
                        <xs:element name="publisher" type="xs:string" minOccurs="0"/>
                        <xs:element name="publishDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="summary" type="xs:string" minOccurs="0"/>
                        <xs:element name="genre" type="xs:string" minOccurs="0"/>
                        <xs:element name="available" type="xs:int" minOccurs="0"/>
                        <xs:element name="cover" type="xs:string" minOccurs="0"/>
                        <xs:element name="nbCopies" type="xs:int" minOccurs="0"/>
                        <xs:element name="bookable" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="returnDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="availableForBooking" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [BOOK LIST] -->
            <xs:element name="bookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:book" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [BOOK BORROWED] -->
            <xs:element name="bookBorrowed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:book"/>
                        <xs:element name="returnDate" type="xs:date"/>
                        <xs:element name="extended" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="returned" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="borrowingDate" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [BORROWER] -->
            <xs:element name="borrower">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:user"/>
                        <xs:element ref="ws:bookBorrowed"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [LOGIN USER] -->
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="login" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:user" minOccurs="0"/>
                        <xs:element name="token" type="xs:token" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [LOGOUT USER] -->
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [SEARCH USER] -->
            <xs:element name="searchUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="keywords" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:user" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [CHECK TOKEN] -->
            <xs:element name="checkToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [GET BOOK] -->
            <xs:element name="getBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== B O R R O W I N G ===== -->

            <!-- [EXTEND BORROWING] -->
            <xs:element name="extendBorrowing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element ref="ws:bookBorrowed"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="extendBorrowingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [SEARCH BORROWERS BY ISBN] -->
            <xs:element name="searchBorrowersByIsbn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                        <xs:element name="returned" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchBorrowersByIsbnResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:borrower" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== R E S E R V A T I O N ===== -->

            <!-- [RESERVED BOOK] -->
            <xs:element name="bookReserved">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:book"/>
                        <xs:element name="reserveDate" type="xs:dateTime"/>
                        <xs:element name="pending" type="xs:boolean"/>
                        <xs:element name="notified" type="xs:boolean"/>
                        <xs:element name="position" type="xs:int"/>
                        <xs:element name="total" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [RESERVED BOOKLIST] -->
            <xs:element name="reservedBookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reservedBookListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:bookReserved" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [RESERVE BOOK] -->
            <xs:element name="reserveBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reserveBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [CANCEL RESERVATION] -->
            <xs:element name="cancelReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelReservationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [CHECK RESERVED BOOKS] -->
            <xs:element name="checkReservedBooks">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkReservedBooksResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:user" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ws:bookReserved" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [SET RESERVATION NOTIFIED] -->
            <xs:element name="setReservationNotified">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                        <xs:element name="email" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setReservationNotifiedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== U N R E T U R N E D ===== -->

            <!-- [UNRETURNED BOOK] -->
            <xs:element name="unreturnedBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:user"/>
                        <xs:element ref="ws:bookBorrowed"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [UNRETURNED BOOKLIST] -->
            <xs:element name="unreturnedBookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="returnDate" type="xs:date"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unreturnedBookListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:unreturnedBook" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [USER BOOK LIST] -->
            <xs:element name="userBookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="userBookListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                        <xs:element ref="ws:bookBorrowed" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [SEARCH BOOK] -->
            <xs:element name="searchBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="keywords" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:bookList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== U S E R  A D M I N ===== -->

            <!-- [CREATE USER] -->
            <xs:element name="createUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:login"/>
                        <xs:element ref="ws:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== L O A N  A D M I N ===== -->

            <!-- [REGISTER A NEW LOAN] -->
            <xs:element name="registerNewLoan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element ref="ws:user"/>
                        <xs:element ref="ws:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerNewLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- [LOAN RETURN] -->
            <xs:element name="loanReturn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="isbn" type="xs:normalizedString"/>
                        <xs:element name="email" type="xs:normalizedString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loanReturnResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- ===== A L E R T  S E N D E R ===== -->

            <xs:element name="updateAlertSenderStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="xs:token"/>
                        <xs:element name="status" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAlertSenderStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- [MESSAGES] -->
    <wsdl:message name="login">
        <wsdl:part name="parameters" element="ws:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="response" element="ws:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="logout">
        <wsdl:part name="parameter" element="ws:logout"/>
    </wsdl:message>
    <wsdl:message name="getBook">
        <wsdl:part name="parameter" element="ws:getBook"/>
    </wsdl:message>
    <wsdl:message name="getBookResponse">
        <wsdl:part name="response" element="ws:getBookResponse"/>
    </wsdl:message>
    <wsdl:message name="userBookList">
        <wsdl:part name="parameter" element="ws:userBookList"/>
    </wsdl:message>
    <wsdl:message name="userBookListResponse">
        <wsdl:part name="response" element="ws:userBookListResponse"/>
    </wsdl:message>
    <wsdl:message name="extendBorrowing">
        <wsdl:part name="parameters" element="ws:extendBorrowing"/>
    </wsdl:message>
    <wsdl:message name="extendBorrowingResponse">
        <wsdl:part name="response" element="ws:extendBorrowingResponse"/>
    </wsdl:message>
    <wsdl:message name="searchBook">
        <wsdl:part name="parameters" element="ws:searchBook"/>
    </wsdl:message>
    <wsdl:message name="searchBookResponse">
        <wsdl:part name="response" element="ws:searchBookResponse"/>
    </wsdl:message>
    <wsdl:message name="createUser">
        <wsdl:part name="parameters" element="ws:createUser"/>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part name="response" element="ws:createUserResponse"/>
    </wsdl:message>
    <wsdl:message name="loanReturn">
        <wsdl:part name="parameters" element="ws:loanReturn"/>
    </wsdl:message>
    <wsdl:message name="loanReturnResponse">
        <wsdl:part name="response" element="ws:loanReturnResponse"/>
    </wsdl:message>
    <wsdl:message name="unreturnedBookList">
        <wsdl:part name="parameters" element="ws:unreturnedBookList"/>
    </wsdl:message>
    <wsdl:message name="unreturnedBookListResponse">
        <wsdl:part name="response" element="ws:unreturnedBookListResponse"/>
    </wsdl:message>
    <wsdl:message name="reservedBookList">
        <wsdl:part name="parameters" element="ws:reservedBookList"/>
    </wsdl:message>
    <wsdl:message name="reservedBookListResponse">
        <wsdl:part name="response" element="ws:reservedBookListResponse"/>
    </wsdl:message>
    <wsdl:message name="reserveBook">
        <wsdl:part name="parameters" element="ws:reserveBook"/>
    </wsdl:message>
    <wsdl:message name="reserveBookResponse">
        <wsdl:part name="response" element="ws:reserveBookResponse"/>
    </wsdl:message>
    <wsdl:message name="cancelReservation">
        <wsdl:part name="parameters" element="ws:cancelReservation"/>
    </wsdl:message>
    <wsdl:message name="cancelReservationResponse">
        <wsdl:part name="response" element="ws:cancelReservationResponse"/>
    </wsdl:message>
    <wsdl:message name="checkToken">
        <wsdl:part name="parameter" element="ws:checkToken"/>
    </wsdl:message>
    <wsdl:message name="checkTokenResponse">
        <wsdl:part name="response" element="ws:checkTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="checkReservedBooks">
        <wsdl:part name="parameter" element="ws:checkReservedBooks"/>
    </wsdl:message>
    <wsdl:message name="checkReservedBooksResponse">
        <wsdl:part name="response" element="ws:checkReservedBooksResponse"/>
    </wsdl:message>
    <wsdl:message name="setReservationNotified">
        <wsdl:part name="parameters" element="ws:setReservationNotified"/>
    </wsdl:message>
    <wsdl:message name="setReservationNotifiedResponse">
        <wsdl:part name="response" element="ws:setReservationNotifiedResponse"/>
    </wsdl:message>
    <wsdl:message name="searchUser">
        <wsdl:part name="parameters" element="ws:searchUser"/>
    </wsdl:message>
    <wsdl:message name="searchUserResponse">
        <wsdl:part name="response" element="ws:searchUserResponse"/>
    </wsdl:message>
    <wsdl:message name="registerNewLoan">
        <wsdl:part name="parameters" element="ws:registerNewLoan"/>
    </wsdl:message>
    <wsdl:message name="registerNewLoanResponse">
        <wsdl:part name="response" element="ws:registerNewLoanResponse"/>
    </wsdl:message>
    <wsdl:message name="searchBorrowersByIsbn">
        <wsdl:part name="parameters" element="ws:searchBorrowersByIsbn"/>
    </wsdl:message>
    <wsdl:message name="searchBorrowersByIsbnResponse">
        <wsdl:part name="response" element="ws:searchBorrowersByIsbnResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAlertSenderStatus">
        <wsdl:part name="parameters" element="ws:updateAlertSenderStatus"/>
    </wsdl:message>
    <wsdl:message name="updateAlertSenderStatusResponse">
        <wsdl:part name="response" element="ws:updateAlertSenderStatusResponse"/>
    </wsdl:message>

    <!-- [PORT TYPE] -->
    <wsdl:portType name="LibraryService">
        <wsdl:operation name="login">
            <wsdl:input message="ws:login"/>
            <wsdl:output message="ws:loginResponse"/>
        </wsdl:operation>
        <wsdl:operation name="logout">
            <wsdl:input message="ws:logout"/>
        </wsdl:operation>
        <wsdl:operation name="getBook">
            <wsdl:input message="ws:getBook"/>
            <wsdl:output message="ws:getBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="userBookList">
            <wsdl:input message="ws:userBookList"/>
            <wsdl:output message="ws:userBookListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="extendBorrowing">
            <wsdl:input message="ws:extendBorrowing"/>
            <wsdl:output message="ws:extendBorrowingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchBook">
            <wsdl:input message="ws:searchBook"/>
            <wsdl:output message="ws:searchBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="ws:createUser"/>
            <wsdl:output message="ws:createUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="loanReturn">
            <wsdl:input message="ws:loanReturn"/>
            <wsdl:output message="ws:loanReturnResponse"/>
        </wsdl:operation>
        <wsdl:operation name="unreturnedBookList">
            <wsdl:input message="ws:unreturnedBookList"/>
            <wsdl:output message="ws:unreturnedBookListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="reservedBookList">
            <wsdl:input message="ws:reservedBookList"/>
            <wsdl:output message="ws:reservedBookListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="reserveBook">
            <wsdl:input message="ws:reserveBook"/>
            <wsdl:output message="ws:reserveBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <wsdl:input message="ws:cancelReservation"/>
            <wsdl:output message="ws:cancelReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkToken">
            <wsdl:input message="ws:checkToken"/>
            <wsdl:output message="ws:checkTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkReservedBooks">
            <wsdl:input message="ws:checkReservedBooks"/>
            <wsdl:output message="ws:checkReservedBooksResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setReservationNotified">
            <wsdl:input message="ws:setReservationNotified"/>
            <wsdl:output message="ws:setReservationNotifiedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchUser">
            <wsdl:input message="ws:searchUser"/>
            <wsdl:output message="ws:searchUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="registerNewLoan">
            <wsdl:input message="ws:registerNewLoan"/>
            <wsdl:output message="ws:registerNewLoanResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchBorrowersByIsbn">
            <wsdl:input message="ws:searchBorrowersByIsbn"/>
            <wsdl:output message="ws:searchBorrowersByIsbnResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateAlertSenderStatus">
            <wsdl:input message="ws:updateAlertSenderStatus"/>
            <wsdl:output message="ws:updateAlertSenderStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- [BINDING] -->
    <wsdl:binding name="LibraryServicePortBinding" type="ws:LibraryService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <!-- LOGIN USER -->
        <wsdl:operation name="login">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- LOGOUT USER -->
        <wsdl:operation name="logout">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>

        <!-- GET BOOK -->
        <wsdl:operation name="getBook">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- USER BOOK LIST -->
        <wsdl:operation name="userBookList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- EXTEND BORROWING -->
        <wsdl:operation name="extendBorrowing">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- SEARCH BOOK -->
        <wsdl:operation name="searchBook">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- CHECK TOKEN -->
        <wsdl:operation name="checkToken">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] CREATE USER -->
        <wsdl:operation name="createUser">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] LOAN RETURN -->
        <wsdl:operation name="loanReturn">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] UNRETURNED BOOKLIST -->
        <wsdl:operation name="unreturnedBookList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] RESERVED BOOKLIST -->
        <wsdl:operation name="reservedBookList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] RESERVE BOOK -->
        <wsdl:operation name="reserveBook">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] CANCEL RESERVATION -->
        <wsdl:operation name="cancelReservation">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] CHECK RESERVED BOOKS -->
        <wsdl:operation name="checkReservedBooks">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] SET RESERVATION NOTIFIED -->
        <wsdl:operation name="setReservationNotified">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] SEARCH USER -->
        <wsdl:operation name="searchUser">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] REGISTER A NEW LOAN -->
        <wsdl:operation name="registerNewLoan">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- [PRIVATE] SEARCH BORROWERS BY ISBN -->
        <wsdl:operation name="searchBorrowersByIsbn">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- UPDATE ALERT SENDER STATUS -->
        <wsdl:operation name="updateAlertSenderStatus">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <!-- [SERVICE] -->
    <wsdl:service name="LibraryWebService">
        <wsdl:documentation>
            Provide services from KyLibrary
        </wsdl:documentation>
        <wsdl:port name="LibraryServicePort" binding="ws:LibraryServicePortBinding">
            <!-- DEV WSDL Address -->
            <soap:address location="http://localhost:18080/KyLibrary/WebService/SOAP/LibraryWebService"/>
            <!-- PROD WSDL Location -->
            <!-- <soap:address location="http://5.196.95.68:18080/KyLibrary/WebService/SOAP/LibraryWebService"/> -->
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>