webservice/src/main/resources/wsdl/LibraryService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="dd7b026a-d6a2-4089-adb2-596ab0598c73"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ws="dd7b026a-d6a2-4089-adb2-596ab0598c73"
                  name="WebService">
    
    <wsdl:types>
        <xs:schema targetNamespace="dd7b026a-d6a2-4089-adb2-596ab0598c73">
            
            <!-- [USER] -->
            <xs:element name="user" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element name="birthday" type="xs:date"/>
                        <xs:element name="postalAddress" type="xs:string"/>
                        <xs:element name="tel" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="level" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [LOGIN USER] -->
            <xs:element name="loginUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="login" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [BOOK] -->
            <xs:element name="book">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Isbn" type="xs:string"/>
                        <xs:element name="Title" type="xs:string"/>
                        <xs:element name="Author" type="xs:string"/>
                        <xs:element name="Publisher" type="xs:string"/>
                        <xs:element name="PublishDate" type="xs:date"/>
                        <xs:element name="Summary" type="xs:string"/>
                        <xs:element name="Genre" type="xs:string"/>
                        <xs:element name="Available" type="xs:int"/>
                        <xs:element name="Cover" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [BOOK LIST] -->
            <xs:element name="bookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:book" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [BOOK BORROWED] -->
            <xs:element name="bookBorrowed">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:book"/>
                        <xs:element name="returndate" type="xs:date"/>
                        <xs:element name="extended" type="xs:boolean"/>
                        <xs:element name="returned" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [USER BOOK LIST -->
            <xs:element name="userBookList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="userBookListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:bookBorrowed" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!-- [SEARCH BOOK] -->
            <xs:element name="searchBook">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="keywords" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:bookList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    
    <!-- [MESSAGES] -->
    <wsdl:message name="loginUser">
        <wsdl:part name="parameters" element="ws:loginUser"/>
    </wsdl:message>
    <wsdl:message name="loginUserResponse">
        <wsdl:part name="response" element="ws:loginUserResponse"/>
    </wsdl:message>
    <wsdl:message name="userBookList">
        <wsdl:part name="parameter" element="ws:userBookList"/>
    </wsdl:message>
    <wsdl:message name="userBookListResponse">
        <wsdl:part name="response" element="ws:userBookListResponse"/>
    </wsdl:message>
    <wsdl:message name="extendBorrowing">
        <wsdl:part name="parameter" element="ws:bookBorrowed"/>
    </wsdl:message>
    <wsdl:message name="extendBorrowingResponse">
        <wsdl:part name="response" element="ws:bookBorrowed"/>
    </wsdl:message>
    <wsdl:message name="searchBook">
        <wsdl:part name="parameters" element="ws:searchBook"/>
    </wsdl:message>
    <wsdl:message name="searchBookResponse">
        <wsdl:part name="response" element="ws:searchBookResponse"/>
    </wsdl:message>
    
    <!-- [PORT TYPE] -->
    <wsdl:portType name="LibraryService">
        <wsdl:operation name="loginUser">
            <wsdl:input message="ws:loginUser"/>
            <wsdl:output message="ws:loginUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="userBookList">
            <wsdl:input message="ws:userBookList"/>
            <wsdl:output message="ws:userBookListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="extendBorrowing">
            <wsdl:input message="ws:extendBorrowing"/>
            <wsdl:output message="ws:extendBorrowingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchBook">
            <wsdl:input message="ws:searchBook"/>
            <wsdl:output message="ws:searchBookResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- [BINDING] -->
    <wsdl:binding name="LibraryServicePortBinding" type="ws:LibraryService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <!-- LOGIN USER -->
        <wsdl:operation name="loginUser">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <!-- USER BOOK LIST -->
        <wsdl:operation name="userBookList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <!-- EXTEND BORROWING -->
        <wsdl:operation name="extendBorrowing">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <!-- SEARCH BOOK -->
        <wsdl:operation name="searchBook">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- [SERVICE] -->
    <wsdl:service name="LibraryWebService">
        <wsdl:documentation>
            Provides services from KyLibrary
        </wsdl:documentation>
        <wsdl:port name="LibraryServicePort" binding="ws:LibraryServicePortBinding">
            <soap:address location="http://localhost:8080/KyLibrary/WebService/SOAP/LibraryWebService"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>